* {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    padding: 20px;
    max-width: 1220px;
    background-color: rgb(37, 46, 147);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-item {
    display: flex;
    gap: 25px;
    align-items: center;
}

.header-link {
    color: white;
}

.header-btn {
    color: white;
    width: 120px;
    height: 40px;
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
}

.bar {
    width: 40px;
    height: 3px;
    background-color: white;
    margin: 5px;
}

@media (max-width: 1800px) {
    .bars {
        display: none;
    }

    .hero-img {
        width: 580px;
        height: 520px;
    }
}

.hero-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-title {
    color: white;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 55px;
    line-height: 84px;
    letter-spacing: 2%;
    width: 550px;
    margin-bottom: 30px;
}

.hero-text {
    color: white;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0%;
    margin-bottom: 20px;
}

.hero-btn {
    width: 140px;
    height: 60px;
    background: linear-gradient(90.35deg, #2563EB 0.36%, #D946EF 201.02%);
    border: none;
    border-radius: 5px;
    color: white;
}

@media (max-width: 1200px) {
    .hero-title {
        font-size: 30px;
        width: 500px;
        font-weight: 500;
        margin-bottom: 15px;
    }

    .hero-text {
        font-size: 15px;
        width: 400px;
    }

    .hero-btn {
        width: 120px;
        height: 40px;
    }

    .hero-img {
        width: 550px;
        height: 500px;
    }
}

@media (max-width: 1000px) {
    .hero-title {
        font-size: 30px;
        width: 500px;
        font-weight: 500;
        margin-bottom: 15px;
    }

    .hero-text {
        font-size: 15px;
        width: 400px;
    }

    .hero-btn {
        width: 120px;
        height: 40px;
    }

    .hero-img {
        width: 450px;
        height: 400px;
    }
}

@media (max-width: 950px) {
    .hero-title {
        font-size: 25px;
        width: 400px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .hero-text {
        font-size: 12px;
        width: 350px;
    }

    .hero-btn {
        width: 110px;
        height: 35px;
        font-size: 15px;
    }

    .hero-img {
        width: 350px;
        height: 300px;
    }
}

@media (max-width: 750px) {
    .header-link {
        font-size: 12px;
    }

    .header-btn {
        width: 100px;
        height: 35px;
    }

    .hero-title {
        font-size: 18px;
        width: 300px;
        line-height: 30px;
        margin-bottom: 5px;
    }

    .hero-text {
        font-size: 9px;
        width: 300px;
        line-height: 15px;
    }

    .hero-btn {
        width: 90px;
        height: 25px;
        font-size: 13px;
    }

    .hero-img {
        width: 280px;
        height: 230px;
    }
}

@media (max-width: 580px) {

    .header-item {
        display: flex;
        gap: 15px;
        align-items: center;
    }

    .header-link {
        font-size: 10px;
    }

    .header-btn {
        width: 100px;
        height: 35px;
    }

    .hero-title {
        font-size: 18px;
        width: 200px;
        line-height: 25px;
        margin-bottom: 5px;
    }

    .hero-text {
        font-size: 9px;
        width: 230px;
        line-height: 12px;
    }

    .hero-btn {
        width: 70px;
        height: 17px;
        font-size: 10px;
    }

    .hero-img {
        width: 280px;
        height: 230px;
    }
}

@media (max-width: 500px) {

    .header-item {
        display: none;
    }

    .bars {
        display: block;
    }

    .hero-list {
        display: flex;
        flex-direction: column;
    }

    .hero-title {
        margin: auto;
        text-align: center;
        font-size: 30px;
        width: 400px;
        margin-bottom: 20px;
        line-height: 40px;
    }

    .hero-text {
        font-size: 12px;
        text-align: center;
        width: 400px;
        line-height: 18px;
    }

    .hero-btn {
        width: 100px;
        height: 30px;
        font-size: 10px;
        position: absolute;
        left: 50%;
        transform: translateX(calc(-50% + 0px));
    }

    .hero-img {
        width: 350px;
        height: 300px;
    }
}

.service-container {
    margin-top: 100px;
}

.service-title {
    font-family: "DM Sans", sans-serif;
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 42px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 20px;
}

.service-list {
    display: flex;
    flex-wrap: wrap;
}

.service-item {
    width: 350px;
    height: 350px;
    background-color: #371a82;
    margin: 15px;
    padding: 20px;
    border-radius: 40px;
}

.service-text {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    color: white;
    width: 570px;
    margin: auto;
    margin-bottom: 40px;
}

.service-img {
    margin-left: 115px;
    margin-bottom: 20px;
}

.service-title2 {
    color: #fff;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 20px;
}

.service-text2 {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0%;
    color: #fff;
    text-align: center;
    width: 310px;
    margin: auto;
    margin-bottom: 20px;
}

.service-link {
    color: #fff;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0%;
    margin-left: 110px;
}

@media (max-width: 1180px) {
    .service-item {
        width: 500px;
        height: 350px;
        background-color: #371a82;
        margin: 15px;
        padding: 20px;
        border-radius: 40px;
        left: 50%;
        transform: translateX(calc(-50% + 270px));
    }

    .service-img {
        margin-left: 190px;
    }

    .service-link {
        margin-left: 180px;
    }
}

@media (max-width: 1100px) {
    .service-item {
        width: 900px;
        height: 220px;
        left: 50%;
        transform: translateX(calc(-50% + 500px));
        margin-top: 10px;
    }

    .service-img {
        margin-left: 130px;
        margin-top: 50px;
    }

    .service-title2 {
        position: absolute;
        left: 50%;
        transform: translateX(calc(-50% + 10px));
        top: 30px;
    }

    .service-text2 {
        position: absolute;
        left: 50%;
        transform: translateX(calc(-50% + 10px));
        top: 70px;
    }

    .service-link {
        position: absolute;
        left: 50%;
        transform: translateX(calc(-50% - 170px));
        top: 160px;
    }
}

@media (max-width: 1100px) {
    .service-item {
        width: 850px;
        height: 220px;
        left: 50%;
        transform: translateX(calc(-50% + 450px));
        margin-top: 10px;
    }
}

@media (max-width: 950px) {
    .service-item {
        width: 850px;
        height: 220px;
        left: 50%;
        transform: translateX(calc(-50% + 400px));
        margin-top: 10px;
    }
}

@media (max-width: 850px) {
    .service-item {
        width: 600px;
        height: 250px;
    }

    .service-title2 {
        font-size: 18px;
        margin-top: 50px;
    }

    .service-text2 {
        font-size: 10px;
        margin-top: 50px;
    }

    .service-img {
        width: 40px;
        height: 40px;
        margin-top: 0px;
        margin-left: 280px;
    }

    .service-link {
        margin-top: 30px;
    }
}

@media (max-width: 820px) {
    .service-item {
        width: 600px;
        height: 250px;
        margin-left: -35px;
    }

    .service-title2 {
        font-size: 18px;
        margin-top: 50px;
    }

    .service-text2 {
        font-size: 10px;
        margin-top: 50px;
    }

    .service-img {
        width: 40px;
        height: 40px;
        margin-top: 0px;
        margin-left: 280px;
    }

    .service-link {
        margin-top: 30px;
    }
}

@media (max-width: 750px) {
    .service-list {
        display: flex;
        flex-direction: column;
    }

    .service-item {
        width: 550px;
        margin-left: -55px;
        width: 500px;
    }

    .service-title2 {
        font-size: 18px;
        margin-top: 50px;
    }

    .service-text2 {
        font-size: 10px;
        margin-top: 50px;
    }

    .service-img {
        width: 40px;
        height: 40px;
        margin-top: 0px;
        margin-left: 220px;
    }

    .service-link {
        margin-top: 30px;
        font-size: 10px;
    }
}

@media (max-width: 700px) {
    .service-list {
        display: flex;
        flex-direction: column;
    }

    .service-item {
        width: 550px;
        margin-left: -85px;
        width: 500px;
    }

    .service-title2 {
        font-size: 18px;
        margin-top: 50px;
    }

    .service-text2 {
        font-size: 10px;
        margin-top: 50px;
    }

    .service-img {
        width: 40px;
        height: 40px;
        margin-top: 0px;
        margin-left: 220px;
    }

    .service-link {
        margin-top: 30px;
        font-size: 10px;
    }
}

@media (max-width: 650px) {
    .service-item {
        width: 500px;
        margin-left: -110px;
    }

    .service-title2 {
        font-size: 18px;
        margin-top: 50px;
    }

    .service-text2 {
        font-size: 10px;
        margin-top: 50px;
    }

    .service-img {
        width: 40px;
        height: 40px;
        margin-top: 0px;
        margin-left: 220px;
    }

    .service-link {
        margin-top: 30px;
        font-size: 10px;
    }
}

@media (max-width: 580px) {
    .service-item {
        width: 400px;
        height: 250px;
        margin-left: -120px;
    }

    .service-title {
        font-size: 20px;
        margin-bottom: 8px;
    }

    .service-title2 {
        font-size: 15px;
        margin-bottom: 2px;
    }

    .service-text {
        font-size: 12px;
        width: 250px;
        line-height: 12px;
    }

    .service-text2 {
        font-size: 12px;
        width: 250px;
        line-height: 15px;
    }

    .service-img {
        width: 40px;
        height: 40px;
        margin-top: 0px;
        margin-left: 180px;
    }

    .service-link {
        margin-top: 25px;
        font-size: 8px;
        width: 50px;
    }
}

@media (max-width: 520px) {
    .service-item {
        width: 400px;
        height: 250px;
        margin-left: -180px;
    }

    .service-title {
        font-size: 20px;
        margin-bottom: 8px;
    }

    .service-title2 {
        font-size: 15px;
        margin-bottom: 2px;
    }

    .service-text {
        font-size: 12px;
        width: 250px;
        line-height: 12px;
    }

    .service-text2 {
        font-size: 12px;
        width: 250px;
        line-height: 15px;
    }

    .service-img {
        width: 40px;
        height: 40px;
        margin-top: 0px;
        margin-left: 180px;
    }

    .service-link {
        margin-top: 25px;
        font-size: 8px;
        width: 50px;
    }
}

@media (max-width: 480px) {
    .service-item {
        width: 400px;
        height: 250px;
        margin-left: -180px;
    }

    .service-title {
        font-size: 20px;
        margin-bottom: 8px;
    }

    .service-title2 {
        font-size: 15px;
        margin-bottom: 2px;
    }

    .service-text {
        font-size: 12px;
        width: 250px;
        line-height: 12px;
    }

    .service-text2 {
        font-size: 12px;
        width: 250px;
        line-height: 15px;
    }

    .service-img {
        width: 40px;
        height: 40px;
        margin-top: 0px;
        margin-left: 170px;
    }

    .service-link {
        margin-top: 25px;
        font-size: 8px;
        width: 50px;
    }
}

@media (max-width: 460px) {
    .service-item {
        width: 400px;
        height: 220px;
        margin-left: -200px;
    }

    .service-title {
        font-size: 20px;
        margin-bottom: 8px;
    }

    .service-title2 {
        font-size: 15px;
    }

    .service-text {
        font-size: 12px;
        width: 250px;
        line-height: 12px;
    }

    .service-text2 {
        font-size: 12px;
        width: 250px;
        line-height: 15px;
        position: absolute;
        top: 50px;
    }

    .service-img {
        width: 40px;
        height: 40px;
        margin-top: 0px;
        margin-left: 165px;
    }

    .service-link {
        margin-top: -2px;
        font-size: 8px;
        width: 50px;
    }
}

@media (max-width: 430px) {
    .service-item {
        width: 340px;
        height: 210px;
        margin-left: -210px;
    }

    .service-title {
        font-size: 20px;
        margin-bottom: 8px;
    }

    .service-title2 {
        font-size: 15px;
    }

    .service-text {
        font-size: 12px;
        width: 250px;
        line-height: 12px;
    }

    .service-text2 {
        font-size: 12px;
        width: 250px;
        line-height: 15px;
        position: absolute;
        top: 50px;
    }

    .service-img {
        width: 40px;
        height: 40px;
        margin-top: 0px;
        margin-left: 140px;
    }

    .service-link {
        margin-top: -2px;
        font-size: 8px;
        width: 50px;
    }
}

@media (max-width: 400px) {
    .service-item {
        width: 340px;
        height: 210px;
        margin-left: -225px;
    }

    .service-title {
        font-size: 20px;
        margin-bottom: 8px;
    }

    .service-title2 {
        font-size: 15px;
    }

    .service-text {
        font-size: 12px;
        width: 250px;
        line-height: 12px;
    }

    .service-text2 {
        font-size: 12px;
        width: 250px;
        line-height: 15px;
        position: absolute;
        top: 50px;
    }

    .service-img {
        width: 40px;
        height: 40px;
        margin-top: 0px;
        margin-left: 140px;
    }

    .service-link {
        margin-top: -2px;
        font-size: 8px;
        width: 50px;
    }
}

.project-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.project-title {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #fff;
    margin-bottom: 50px;
}

.project-text {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0%;
    color: #fff;
    margin-bottom: 30px;
}

.project-btn {
    width: 120px;
    height: 35px;
    color: #fff;
    border-radius: 15px;
    border: none;
    background-color: rgb(103, 78, 183);
}

@media (max-width: 1200px) {
    .project-container {
        display: flex;
        flex-direction: column;
    }

    .project-img {
        width: 600px;
        height: 550px;
    }

    .project-title {
        font-size: 40px;
        line-height: 100%;
        width: 600px;
        text-align: center;
        margin: auto;
        margin-bottom: 30px;
    }

    .project-text {
        font-size: 16px;
        line-height: 26px;
        width: 800px;
        text-align: center;
    }

    .project-btn {
        width: 150px;
        height: 55px;
        margin-left: 320px;
    }
}

@media (max-width: 820px) {
    .project-container {
        display: flex;
        flex-direction: column;
    }

    .project-img {
        width: 550px;
        height: 500px;
    }

    .project-title {
        font-size: 36px;
        line-height: 100%;
        width: 580px;
        text-align: center;
        margin: auto;
        margin-bottom: 30px;
    }

    .project-text {
        font-size: 15px;
        line-height: 26px;
        width: 700px;
        text-align: center;
    }

    .project-btn {
        width: 150px;
        height: 55px;
        margin-left: 280px;
    }
}

@media (max-width: 820px) {
    .project-container {
        display: flex;
        flex-direction: column;
    }

    .project-img {
        width: 450px;
        height: 400px;
    }

    .project-title {
        font-size: 30px;
        line-height: 95%;
        width: 580px;
        text-align: center;
        margin: auto;
        margin-bottom: 30px;
    }

    .project-text {
        font-size: 13px;
        line-height: 24px;
        width: 550px;
        text-align: center;
    }

    .project-btn {
        width: 130px;
        height: 45px;
        margin-left: 220px;
    }
}

@media (max-width: 620px) {
    .project-container {
        display: flex;
        flex-direction: column;
    }

    .project-img {
        width: 400px;
        height: 350px;
    }

    .project-title {
        font-size: 25px;
        line-height: 95%;
        width: 400px;
        text-align: center;
        margin: auto;
        margin-bottom: 30px;
    }

    .project-text {
        font-size: 12px;
        line-height: 24px;
        width: 450px;
        text-align: center;
        margin: auto;
        margin-bottom: 15px;
    }

    .project-btn {
        width: 130px;
        height: 45px;
        margin-left: 170px;
    }
}

@media (max-width: 500px) {
    .project-container {
        display: flex;
        flex-direction: column;
    }

    .project-img {
        width: 350px;
        height: 300px;
    }

    .project-title {
        font-size: 20px;
        line-height: 20px;
        width: 350px;
        text-align: center;
        margin: auto;
        margin-bottom: 30px;
    }

    .project-text {
        font-size: 10px;
        line-height: 18px;
        width: 350px;
        text-align: center;
        margin: auto;
        margin-bottom: 15px;
    }

    .project-btn {
        width: 100px;
        height: 35px;
        margin-left: 120px;
    }
}

@media (max-width: 500px) {
    .project-container {
        display: flex;
        flex-direction: column;
    }

    .project-img {
        width: 320px;
        height: 270px;
    }

    .project-title {
        font-size: 17px;
        line-height: 20px;
        width: 320px;
        text-align: center;
        margin: auto;
        margin-bottom: 25px;
    }

    .project-text {
        font-size: 10px;
        line-height: 18px;
        width: 320px;
        text-align: center;
        margin: auto;
        margin-bottom: 15px;
    }

    .project-btn {
        width: 80px;
        height: 25px;
        margin-left: 120px;
    }
}

.customer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customer-title {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;
    margin-bottom: 40px;
    width: 600px;
    margin-top: 100px;
}

.customer-text {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0%;
    color: white;
    margin-bottom: 20px;
    width: 560px;
}

.customer-btn {
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 15px;
    background-color: rgb(103, 78, 183);
    color: white;
}

@media (max-width: 1050px) {
    .customer-title {
        font-size: 36px;
        line-height: 100%;
        margin-bottom: 35px;
        width: 500px;
    }

    .customer-text {
        font-size: 12px;
        line-height: 24px;
        margin-bottom: 18px;
        width: 500px;
    }

    .customer-img {
        width: 400px;
        height: 430px;
    }
}

@media (max-width: 900px) {
    .customer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .customer-title {
        font-size: 36px;
        line-height: 100%;
        margin-bottom: 35px;
        width: 500px;
        text-align: center;
    }

    .customer-text {
        font-size: 12px;
        line-height: 24px;
        margin-bottom: 18px;
        width: 500px;
        text-align: center;
    }

    .customer-btn {
        width: 120px;
        height: 35px;
        margin-left: 192px;
    }

    .customer-img {
        width: 400px;
        height: 430px;
    }
}

@media (max-width: 550px) {
    .customer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .customer-title {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 28px;
        width: 400px;
        text-align: center;
    }

    .customer-text {
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 17px;
        width: 420px;
        text-align: center;
    }

    .customer-btn {
        width: 120px;
        height: 35px;
        margin-left: 150px;
    }

    .customer-img {
        width: 300px;
        height: 330px;
        margin-top: 20px;
    }
}

@media (max-width: 430px) {
    .customer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .customer-title {
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 28px;
        width: 300px;
        text-align: center;
    }

    .customer-text {
        font-size: 10px;
        line-height: 20px;
        margin-bottom: 15px;
        width: 320px;
        text-align: center;
    }

    .customer-btn {
        width: 120px;
        height: 35px;
        margin-left: 100px;
    }

    .customer-img {
        width: 250px;
        height: 270px;
        margin-top: 20px;
    }
}