* {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    padding: 20px;
    max-width: 1220px;
    background-color: rgb(37, 46, 147);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-item {
    display: flex;
    gap: 25px;
    align-items: center;
}

.header-link {
    color: white;
}

.header-btn {
    color: white;
    width: 120px;
    height: 40px;
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
}

.bar {
    width: 40px;
    height: 3px;
    background-color: white;
    margin: 5px;
}

@media (max-width: 1220px) {
    .bars {
        display: none;
    }
}

.hero-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-title {
    color: white;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 55px;
    line-height: 84px;
    letter-spacing: 2%;
    width: 550px;
    margin-bottom: 30px;
}

.hero-text {
    color: white;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0%;
    margin-bottom: 20px;
}

.hero-btn {
    width: 140px;
    height: 60px;
    background: linear-gradient(90.35deg, #2563EB 0.36%, #D946EF 201.02%);
    border: none;
    border-radius: 5px;
    color: white;
}

@media (max-width: 1200px) {
    .hero-title {
        font-size: 30px;
        width: 500px;
        font-weight: 500;
        margin-bottom: 15px;
    }

    .hero-text {
        font-size: 15px;
        width: 400px;
    }

    .hero-btn{
        width: 120px;
        height: 40px;
    }
    .hero-img {
        width: 550px;
        height: 500px;
    }
}

@media (max-width: 1000px) {
    .hero-title {
        font-size: 30px;
        width: 500px;
        font-weight: 500;
        margin-bottom: 15px;
    }

    .hero-text {
        font-size: 15px;
        width: 400px;
    }

    .hero-btn{
        width: 120px;
        height: 40px;
    }
    .hero-img {
        width: 450px;
        height: 400px;
    }
}

@media (max-width: 950px) {
    .hero-title {
        font-size: 25px;
        width: 400px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .hero-text {
        font-size: 12px;
        width: 350px;
    }

    .hero-btn{
        width: 100px;
        height: 25px;
    }
    .hero-img {
        width: 350px;
        height: 300px;
    }
}

